{{ define "title" }}
    <title>{{ .Site.Data.er.default.archive }} - {{ .Site.Title }}</title>
    <meta content='{{ .Site.Data.er.default.archive }}  - {{ .Site.Title }}' property='title' />
    <meta content='{{ .Site.Data.er.default.archive }}  - {{ .Site.Title }}' property='og:title' />
{{ end }}

{{ define "main" }}
<main class="center mv4 content-width ph3">
  <h1 class="f2 fw6 heading-font">{{ .Site.Data.er.default.archive }}</h1>
  {{ .Content }}
  <ul class="list-pages">
    {{ range .Data.Pages }}
      <li class="lh-copy"><a href="{{ .Permalink | relURL }}" class="link f5">{{ .Title }}</a> - <time>{{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}</time></li>
    {{ end }}
  </ul>
</main>
<div class="pagination tc db fixed-l bottom-2-l right-2-l mb3 mb0-l">
{{ partial "back-to-top.html" . }}
</div>
{{ end }}