{{ define "main" }}
<main class="center mv4 content-width ph3">
  <div class="f3 fw6 heading-color heading-font post-title">{{ .Title }}</div>
  <p class="silver f6 mt1 mb4 post-meta">
    {{ if not .Date.IsZero }}<time>{{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}</time> {{ end }}
    <span>| {{.WordCount}} 字</span>
    {{ if or .Params.tags .Params.categories .Params.series }} | {{ end }}
    {{ if isset .Params "categories" }}
      {{ range .Params.categories }}<a href='{{ "/categories/" | relLangURL }}{{ . | urlize }}' class="link silver">{{ . }}</a> {{ end }}
    {{ end }}
    {{ if isset .Params "tags" }}
      {{ range .Params.tags }}<a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}' class="link silver">#{{ . }}</a> {{ end }}
    {{ end }}
  </p>
  <div class="lh-copy post-content">{{ .Content }}</div>
  <div><a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/"><img alt="知识共享许可协议" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a></div>
  {{ partial "comments.html" . }}
</main>
{{ partial "table-of-contents" . }}


<div class="pagination tc tr-l db fixed-l bottom-2-l right-2-l mb3 mb0-l">
  {{ partial "back-to-top.html" . }}<br>
  <p class="mb0 mt2">
  {{ with .PrevInSection }}{{ if . }}<a href="{{ .Permalink }}">上一篇</a>{{ end }}{{ end }}
  {{ with .NextInSection }}{{ if . }}<a href="{{ .Permalink }}">下一篇</a>{{ end }}{{ end }}
  </p>
</div>
{{ end }}